# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.DrawFighter.iml
# Datasource local storage ignored files
/../../../../../../:\UNITY PROJECTS\DrawFighter\.idea\.idea.DrawFighter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
